<div class="chat-header">
  <div class="left-heder">
    <div class="heder-title">
      <%= @room.name %>
    </div>
  </div>
  <div class="left-heder">
    <div class="header-button">
      <a href="#" >チャットを終了する</a>
    </div>
  </div>
</div>

<div class="messages">
  <%= render partial: 'message', collection: @messages %>
</div>

<%= form_with model: [@room, @message], class: "form", local: true do |f| %>
  <div class="form-input">
    <%= f.text_field :content, class: "form-message", placeholder: "type a message" %>
    <%# label要素の中にinput要素を入れると、関連づけをしてくれる。
    type="file"をdisplay: none;で非表示にした場合、本来ならクリックすることが
    できなくなるが、label要素で関連づけをすることで、クリックが可能となる。 %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: "hidden" %>
    </label>
  </div>
  <%= f.submit "送信", class: "form-submit" %>
<% end %>